.wrapper {
    position:relative;
    margin-top: 5%;
    margin-bottom: 1.625rem;
  }
  
  .icon {
    height: 32px;
    width: 32px;
    padding: 4px;
    position: absolute;
    box-sizing:border-box;
    top:50%;
    right: 24px;
    transform: translateY(-50%);
  }
  
  .wrapper_input {
    height: 55px;
    width: 100%;
    max-width: 1180px;
    font-size: 20px;
    padding: 24px;
    box-sizing:border-box;
    padding-right: 32px;
    border: 1px solid #ccc;
    border-radius: 32px;
    outline: none;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    &:focus{
        border-color: #B44CCF;
    }
  }